.detalhes {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2rem;
  text-align: center;
  color: black;
}

.id {
  font-size: 1.5rem;
  color: black;
}

.backButton {
  margin-top: 1rem;
  background-color: blueviolet;
  color: white;
  padding: 0.5rem 1rem;
  width: 100px; 
  border: none;
  cursor: pointer;
  width: 100px;
 position: fixed;
 bottom: 60px;
 display: flex;
 justify-content: center;
 gap: 1rem;
}

.backButton:hover {
  background-color:rgb(216, 23, 146);
}
