.home {
  display: flex;
  justify-content: end;
  align-items: end;
  padding: 2rem;
  text-align: center;
  color: black;
  
  
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.button {
  background-color: blueviolet;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  width: 100px;
 position: fixed;
 bottom: 60px;
 display: flex;
 justify-content: center;
 gap: 1rem;



}

.button:hover {
  background-color: rgb(216, 23, 146);
}
