.header {
background: url(https://static.vecteezy.com/ti/vetor-gratis/p3/3184602-luz-roxo-rosa-doodle-fundo-com-flores-vetor.jpg);
 color: rgb(214, 35, 151);
 padding: 1rem;
 display: flex;
 justify-content: space-around;
  bottom: auto; 
  justify-content: space-around;
  align-items: center;
  
}

.link {
  color:  rgb(214, 35, 151);

  text-decoration: none;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.link:hover {
    color: blueviolet;
  text-decoration: double;

}

