.footer {
  background: url(https://static.vecteezy.com/ti/vetor-gratis/p3/3184602-luz-roxo-rosa-doodle-fundo-com-flores-vetor.jpg);
  color: black;
  text-align: left;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid rgba(180, 17, 180, 0.8);
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
